<!-- Home page view -->
<div class="container">

    <div class="col-10 bg-white rounded-3 mt-3 p-3">

        <h1>Pages#home</h1>
        <p>Find me in app/views/pages/home.html.erb</p>
        <%= link_to "Learn how to use Draft Harmony here »", how_to_path, class: "text-decoration-none" %>
    </div>

</div>
