<!-- Profile page view -->
<div class="container">

    <div class="col-10 mt-3 p-3 mx-auto">

        <h1>My profile</h1>
        <div class="row">
            <% if current_user.avatar.attached? %>
                <div class="rounded">
                        <%= cl_image_tag current_user.avatar.key, heigh: 600, width: 600, crop: :fill %>
                </div>
            <% else %>
                <div class="rounded" style="background-image: url(<% image_url "default-user-avatar.jpg" %>);" >
                </div>
            <% end %>            

            <h3 class="col-1 me-3">Email:</h3>
            <p class="col-2 ms-3 pt-2"><%= @current_user.email %></p>
        </div>

    </div>

</div>