.avatar {
  width: 40px;
  height: 40px; // Corrects for non-square avatar images (these cause an ellipse shape)
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  height: 56px; // (see above)
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  height: 40px; // (see above)
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  height: 40px; // (see above)
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
